@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: abyss --default, cupcake;
}
@plugin "daisyui/theme" {
  name: "abyss";
  default: true;
  --color-primary: green;
  --color-secondary: green;
}
body {
  font-family: "Playfair Display", serif;
  /* font-optical-sizing: auto; */
}
